* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    color: white;
    word-wrap: break-word;
}
:root{
    --font-fix-size:20px;
    --font-size-40:30px;
    --font-size-40:40px;
}
html {
    position: relative;
    min-height: 100%;
    overflow-x:hidden;
}

body {
    font-family: 'Noto Sans', sans-serif;
   
}

/* loader */
.loader{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

/* Scrollbar */


::-webkit-scrollbar-track {

    background-color: #000000;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #191919;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #191919;
}

/* Extras */
.highlight{
    color:#54ff6e;
}


/* Navigation Section */

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.color_grey{
    color:#858d95;
}
.navigation {
    height: 90px;
    width: 100%;
    box-shadow: 0px 1.5px 2px -2px rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10000000;
    transition: 0.2s;
    /* backdrop-filter:blur(15px)!important; */
    /* box-shadow: 0 10px 10px 0 rgba(218, 217, 221, 0.171)!important; */

}
.navigation .logo{
    width:50%;
    font-size:50px;
    font-weight: 900;
    padding-left:10%;
    display:flex;
    align-items:center;
    text-transform: uppercase;
    background-color: #7ee8fa;
    background: linear-gradient(315deg, #7ee8fa 0%, #80ff72 25%);
	-webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
}
.navigation .logo .logo_div{
    background: linear-gradient(315deg, #7ee8fa 0%, #80ff72 25%);
    -webkit-background-clip: text;
    background-clip: text;
    cursor:pointer;
    -webkit-text-fill-color: transparent;
}
.navigation .navbar_link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
    padding-right: 4%;
    position: relative;
}

.navigation .navbar_link:last-child {
    padding-right: 2%;
}

.navigation .navbar_link .hover-3 {
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 30px;
    overflow: hidden;
    font-size: 20px;
    font-weight: 700;
    display: grid;
    place-items: center;
    border: 1px solid transparent;
    border-radius: 5px;
}
.navigation .navbar_link .hover-3:hover{
    border:1px solid rgb(255, 255, 255);
}


.navigation .navbar_link .active {
    color:#54ff6e;
}

.navigation .navbar_link .active svg{
    fill:#54ff6e;
}
.navigation .navbar_link .active svg path{
    fill:#54ff6e;
}
/* Resume */
.resume{
    padding:5% 10%;
    display: flex;
    margin-top: 90px;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}
.resume .images_download_cv{
    width: 720px;
}

.resume .links {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.resume .links a {
    background: rgba(255, 255, 255, 0.08);
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 5px;
    display: flex;
    border: 1px solid transparent;
}

.resume .links a svg {
    margin-right: 5px;
    fill: #54ff6e;
    width: 20px;
    background-color: transparent;
}
.resume .links a:hover{
    border: 1px solid white;
}

/* Footer */
.footer {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    line-height: 1.5;
    font-size: var(--font-fix-size);
}

.floatingNav {
    position: fixed;
    z-index: 100000;
}





#hamburger {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
}
#hamburger .line {
    fill: none;
    stroke: #000;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
#hamburger .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
#hamburger .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}
#hamburger .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
#hamburger.open .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
#hamburger.open .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}
#hamburger.open .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}



/* RESPONSIVE */
@media screen and (max-width: 1000px) {
    .about_me_section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
    .about_me{
        width: 90%;
        margin-bottom: 10%;
        padding-left: 0;
    }
    .about_me_section .photos{
        margin-left:0;
    }
}
.menu-toggle{
    position: relative;
    width: 50px;
    height: 50px;
    display: none;
    background:#000 url('assets/menu.svg');
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    cursor:pointer;
    z-index: 100000000;
}
.menu-toggle:hover{
    border:1px solid rgb(255, 255, 255);
}
.menu-toggle.active{
    background:#000 url('assets/close.svg');
    background-size:35px;
    background-repeat: no-repeat;
    background-position: center;
}
.full-screen-navigation{
    position:fixed; 
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.full-screen-navigation ul{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100000000;
    transform:translateX(-100px);
    opacity: 0;
    background:#54ff6e;
    visibility: hidden;
    transition: 0.5s;
    transition-delay: 0s;
}
.full-screen-navigation ul li{
    list-style: none;
}
.full-screen-navigation ul li a{
    text-decoration: none;
    font-size: 3em;
    font-weight: 700;
    color:#fff;
    background:#54ff6e;
    display: inline-block;
    padding:5px 20px;
}
.full-screen-navigation ul li a:hover{
    background:#fff;
    color:#54ff6e;
}
.full-screen-navigation.active ul{
    transform:translateX(0px);
    opacity:1;
    visibility:visible;
    transition-delay: 0.75s;
}
.full-screen-navigation span{
    position:absolute;
    top:-100%;
    left:calc(25% * var(--i));
    width: 25%;
    height: 100%;
    background:#54ff6e;
    transition:0.25s; 
    border:1px solid rgba(255,255,255,0.25);
    transition-delay:calc(0.25s * var(--i));
}
.full-screen-navigation.active{
    top:0;
    visibility: visible;
}
.full-screen-navigation.active span{
    top:0;
}
@media screen and (max-width:815px) {
    .menu-toggle{
        display:block;
    }
    .navigation .navbar_link .hover-3{
        display: none;
    }
}
.full-screen-navigation ul li a.active-link{
    background-color: #fff;
    color:#54ff6e;
}